[Unit]
Description=NordVPN Network Connection Monitor
After=nordvpnd.target

[Service]
ExecStart=/root/check-connection.sh
User=root
Type=simple
Restart=on-failure
ExecStop=pkill check-connection.sh

[Install]
WantedBy=default.target
