[Unit]
Description=NordVPN Network Connection Monitor
Requires=network.target

[Service]
ExecStart=/root/connect-nord.sh -d
User=root
Type=simple
Restart=on-failure
ExecStop=cat /root/.monitor.pid | xargs -I{} kill {}

[Install]
WantedBy=default.target
