[Unit]
Description=Update /etc/issue with current webui IP
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-issue

[Install]
WantedBy=multi-user.target
